:root {
    --main-color: #e98074;
    --second-color: #e85a4f;
    --text-color: #8e8d8a;
    --third-color: #eae7dc;
}

body {
    background-color: var(--third-color);
}

h1 {
    font-size: 50px ;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 40px;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
}

li {
    padding: 5px;
    display: flex;
    justify-content: center;
    
}

button {
    padding: 10px;
    color: var(--third-color);
    background-color: var(--main-color);
    border-radius: 10px;
} 

#view-high {
    margin-left: 3%;
    line-height: 100px;
}

.title-screen {
    margin-top: 250px;
}

#start-Button {
    margin-left: 48%;
    margin-top: 30px;
}

.questions-screen {
    margin-top: 150px;
}


